article .content p, article .content li {
  width: 800px;
  font-size: 18px;
}

.content .highlight pre {
  width: 800px;
  font-size: 14px;
}

header .topbar-inner {
  background-image: url('/image/rockywall.png');
  box-shadow: #222 1px 1px 2px;
}

.topbar-inner a, .topbar-inner a.brand {
  color: black;
}

article {
  margin-top: 50px;
}

.highlight pre {
	
  box-shadow: #222 1px 1px;
}

footer {
  min-height: 325px;
  background-image: url('/image/dark_wood.png');
}
