article .content p, article .content li {
  width: 800px;
  font-size: 24px;
}

.content .highlight pre {
  width: 800px;
  font-size: 14px;
}

header .topbar-inner {
  background-image: url('/image/rockywall.png');
  box-shadow: #333 1px 1px 3px;
}

.topbar-inner a.brand {
  color: black;
}

article {
  margin-top: 75px;
}

.highlight pre {
  background: black;
}

.highlight .c1 {
  color: gray;
}

.highlight .ss, .highlight .mi {
  color: red;
}

.highlight .no, .highlight .nn {
  color: green;
}


.highlight .s1 {
  color: lime;
}

.highlight .p {
  color: pink;
}

.highlight .k, .highlight .o {
  color: yellow;
}

.highlight .kp, .highlight .k {
  color: pink;
}

